{% extends 'layout.html' %}
{% block title %}
Index
{% endblock %}

{% block headline %}
{{title}}
{% endblock %}

{% block content %}
<div class="text-right h6">
    <a href="/logout">Logout</a>
</div>
<div class="alert alert-success p-1">
    <h5>{{message}}<br>{{msg2}}</h5>
</div>
<div id="app" class="m-3">
    <mycomp/>
</div>

{% raw %}
<script type='text/x-template' id='mycomp-template'>
    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>学籍番号</th>
                    <th>名前</th>
                    <th>リアクション</th>
                    <th>発言回数</th>
                </tr>
            </thead>
            <tbody>
        <div v-if='flg=="1"'>
            <div class="alert alert-primary" role='alert'>
                <h1 class="h5">あなたは今、発言したい! を選択しています。</h1>
            </div>
        </div>
        <div v-if='flg=="2"'>
            <div class="alert alert-success" role='alert'>
                <h1 class="h5">あなたは今、当てられてもOK を選択しています。</h1>
            </div>
        </div>
        <div v-if='flg=="3"'>
            <div class="alert alert-danger" role='alert'>
                <h1 class="h5">あなたは今、分からない を選択しています。</h1>
            </div>
        </div>
        <div v-if='flg=="4"'>
            <div class="alert alert-info" role='alert'>
                <h1 class="h5">あなたは今、眠い を選択しています。</h1>
            </div>
        </div>
        <ul class="list-group">
            <a class="list-group-item list-group-item-action list-group-item-primary" v-on:click="action1"><p class="text-black font-weight-bold text-center">発言したいです。</p></a>
            <a class="list-group-item list-group-item-action list-group-item-info" v-on:click="action2">当てられてもOK</a>
            <a class="list-group-item list-group-item-action list-group-item-success" v-on:click="action3">分からないなー</a>
            <a class="list-group-item list-group-item-action list-group-item-secondary" v-on:click="action4">眠い</a>
        </ul>
    </div>
</script>
{% endraw %}
<script>
    Vue.component('mycomp',{
        template:'#mycomp-template',
        data:function(){
            return{
                flg:String({{msg3|tojson}})
            }
        },
        methods:{
            action1:function(e){  
                let formData=new FormData();
                var url2={{msg5|tojson}};
                var url3=''
                for(var i=1; i<url2.length-1; i++){url3 += url2.charAt( i );}
                formData.append("status","1")
                formData.append("url",url3);
                let self=this;
                $.ajax({
                    type:'POST',
                    url:'/class/post',
                    data:formData,
                    processData:false,
                    contentType:false,
                    success:function(data){
                        self.flg=data;},
                    error:function(request,status,err){
                        console.log('送信失敗');
                    }
                });
            },
            action2:function(e){  
                let formData=new FormData();
                var url2={{msg5|tojson}};
                var url3=''
                for(var i=1; i<url2.length-1; i++){url3 += url2.charAt( i );}
                formData.append("status","2")
                formData.append("url",url3);
                let self=this;
                $.ajax({
                    type:'POST',
                    url:'/class/post',
                    data:formData,
                    processData:false,
                    contentType:false,
                    success:function(data){
                        self.flg=data;},
                    error:function(request,status,err){
                        console.log('送信失敗');
                    }
                });
            },
            action3:function(e){  
                let formData=new FormData();
                var url2={{msg5|tojson}};
                var url3=''
                for(var i=1; i<url2.length-1; i++){url3 += url2.charAt( i );}
                formData.append("status","3")
                formData.append("url",url3);
                let self=this;
                $.ajax({
                    type:'POST',
                    url:'/class/post',
                    data:formData,
                    processData:false,
                    contentType:false,
                    success:function(data){
                        self.flg=data;},
                    error:function(request,status,err){
                        console.log('送信失敗');
                    }
                });
            },
            action4:function(e){  
                let formData=new FormData();
                var url2={{msg5|tojson}};
                var url3=''
                for(var i=1; i<url2.length-1; i++){url3 += url2.charAt( i );}
                formData.append("status","4")
                formData.append("url",url3);
                let self=this;
                $.ajax({
                    type:'POST',
                    url:'/class/post',
                    data:formData,
                    processData:false,
                    contentType:false,
                    success:function(data){
                        self.flg=data;},
                    error:function(request,status,err){
                        console.log('送信失敗');
                    }
                });
            }}});
    new Vue({
        el:'#app',
        });
</script>
{% endblock %}