{% extends 'layout.html' %}
{% block title %}
Index
{% endblock %}

{% block headline %}
{{title}}
{% endblock %}

{% block content %}
<div class="mb-3" id="msg">{{message}}</div>

<div id="app" class="m-5">
    <mycomp/>
</div>

{% raw %}
<script type="text/x-template" id="mycomp-template">
    <div>
        <div class='form-group'>
            <label for='item'>Number:</label>
            <input type='text' class='form-control' name='item' id='item' v-model='items'>
        </div>
        <ol class='list-group' v-for='item in itemlist'>
            <li class='list-group-item'>{{item}}</li>
        </ol>
    </div>
</script>
{% endraw %}

<script>
    Vue.component('mycomp',{
        template:'#mycomp-template',
        data:function(){return{itemlist:[]};},
    computed:{items:{set:function(val){this.itemlist=val.split(',');},
get:function(){return this.itemlist.join(',')}}}});
    new Vue({
        el:'#app',
        data:{
            vue_msg:'This is Vue.js!'
        }
    });
</script>
{% endblock %}

{% block footer %}
copyright 2022 Tomoya-Kinami.
{% endblock %}