{% extends 'layout.html' %}
{% block title %}
Index
{% endblock %}

{% block refresh %}
<meta http-equiv="refresh" content="600; URL=">
{% endblock %}

{% block content %}
<div style="background-color:rgb(111, 0, 255); position: fixed; top:0px; left:0px; width:100%; z-index: 100;">
    <nav class="navbar navbar-expand-lg text-white">
        <div class="container-fluid">
          <a class="navbar-brand" href="" style="color:white; font-weight: bold; font-family: 'Meiryo UI'; font-size: 30px;">{{message}}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/" style="color:white; font-weight: bold; font-family: 'Meiryo UI'; font-size: 25px;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/setting" style="color:white; font-weight: bold; font-family: 'Meiryo UI'; font-size: 25px;">Setting</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white; font-weight: bold; font-family: 'Meiryo UI'; font-size: 25px;">
                  Class
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:rgb(111, 0, 255); width:max-content;">
                    {% for item in msg4 %}
                  <li><a class="dropdown-item" href={{item[4]}} style="color: white; font-weight:bold; font-family:'Meiryo UI';">{{item[1]}}</a></li>
                  {% endfor %}
                  <li><hr class="dropdown-divider" style="background-color:white;"></li>
                  <li><p style="color: white; font-weight:bold; font-family:'Meiryo UI'; margin: 10px;">{{msg2}}</p></li>
                </ul>
              </li>  
            </ul>
          </div>
        </div>
        
      </nav>
      <div style="position:absolute; top:15px; right:80px;">
            <a class="nav-link" href="/logout" style="color:white; font-weight: bold; font-family: 'Meiryo UI'; font-size: 25px;">Logout</a>
        </div>
    </div>
<div style="position: absolute; top:80px; left:0px; z-index: -100; width: 100%;">


<div id="app" class="m-3">
    <mycomp/>
</div>

{% raw %}
<script type='text/x-template' id='mycomp-template'>
    <div class='row'>
        <div class="col-lg-6 col-sm-12">
        <div v-if='flg=="1"'>
            <img src='/static/スライド1.jpg' width=100%;>
        </div>
        <div v-if='flg=="2"'>
            <img src='/static/スライド2.jpg' width=100%;>
        </div>
        <div v-if='flg=="3"'>
            <img src='/static/スライド3.jpg' width=100%;>
        </div>
        <div v-if='flg=="4"'>
            <img src='/static/スライド4.jpg' width=100%;>
        </div>
        </div>
        <ul class="list-group col-lg-6 col-sm-12" style="height:80vh">
            <a class="list-group-item list-group-item-action list-group-item-primary bg-primary" v-on:click="action1" style="font-weight:bold; margin:2px; color:white; height:25%; font-size:10vh; text-align:center;">発言したいです。</a>
            <a class="list-group-item list-group-item-action list-group-item-info bg-success" v-on:click="action2" style="font-weight:bold; margin:2px; color:white; height:25%; font-size:10vh;text-align:center">当てられてもOK</a>
            <a class="list-group-item list-group-item-action list-group-item-success bg-danger" v-on:click="action3" style="font-weight:bold; margin:2px; color:white; height:25%;font-size:10vh;text-align:center">分からないなー</a>
            <a class="list-group-item list-group-item-action list-group-item-secondary bg-warning" v-on:click="action4" style="font-weight:bold; margin:2px; color:white; height:25%;font-size:10vh;text-align:center">眠い</a>
        </ul>
    </div>
</script>
{% endraw %}
<script>
    Vue.component('mycomp',{
        template:'#mycomp-template',
        data:function(){
            return{
                flg:String({{msg3|tojson}})
            }
        },
        methods:{
            action1:function(e){  
                let formData=new FormData();
                var url2={{msg5|tojson}};
                var url3=''
                for(var i=1; i<url2.length-1; i++){url3 += url2.charAt( i );}
                formData.append("status","1")
                formData.append("url",url3);
                let self=this;
                $.ajax({
                    type:'POST',
                    url:'/class/post',
                    data:formData,
                    processData:false,
                    contentType:false,
                    success:function(data){
                        self.flg=data;},
                    error:function(request,status,err){
                        console.log('送信失敗');
                    }
                });
            },
            action2:function(e){  
                let formData=new FormData();
                var url2={{msg5|tojson}};
                var url3=''
                for(var i=1; i<url2.length-1; i++){url3 += url2.charAt( i );}
                formData.append("status","2")
                formData.append("url",url3);
                let self=this;
                $.ajax({
                    type:'POST',
                    url:'/class/post',
                    data:formData,
                    processData:false,
                    contentType:false,
                    success:function(data){
                        self.flg=data;},
                    error:function(request,status,err){
                        console.log('送信失敗');
                    }
                });
            },
            action3:function(e){  
                let formData=new FormData();
                var url2={{msg5|tojson}};
                var url3=''
                for(var i=1; i<url2.length-1; i++){url3 += url2.charAt( i );}
                formData.append("status","3")
                formData.append("url",url3);
                let self=this;
                $.ajax({
                    type:'POST',
                    url:'/class/post',
                    data:formData,
                    processData:false,
                    contentType:false,
                    success:function(data){
                        self.flg=data;},
                    error:function(request,status,err){
                        console.log('送信失敗');
                    }
                });
            },
            action4:function(e){  
                let formData=new FormData();
                var url2={{msg5|tojson}};
                var url3=''
                for(var i=1; i<url2.length-1; i++){url3 += url2.charAt( i );}
                formData.append("status","4")
                formData.append("url",url3);
                let self=this;
                $.ajax({
                    type:'POST',
                    url:'/class/post',
                    data:formData,
                    processData:false,
                    contentType:false,
                    success:function(data){
                        self.flg=data;},
                    error:function(request,status,err){
                        console.log('送信失敗');
                    }
                });
            }}});
    new Vue({
        el:'#app',
        });
</script>
</div>
{% endblock %}