{% extends 'layout.html' %}
{% block title %}
{{title}}
{% endblock %}

{% block refresh %}
<script>
  function delete_key(id){
    var target=document.getElementById(id)
    var bigparent=target.parentNode.parentNode;
    bigparent.remove();
    var branch=document.querySelector('#branch')
    var count = branch.childElementCount;
    console.log(count)
    if(count>4){
      console.log('False')
    for(let i=3; i<(count-1); i++){
      branch.children[i].children[0].children[0].setAttribute('id','delete'+String(i));
      branch.children[i].children[0].children[1].innerText='選択肢'+String(i);
      branch.children[i].children[1].children[0].setAttribute('id','branch'+String(i))
    }}}
</script>
{% endblock %}

{% block content %}
<div style="background-color:rgb(111, 0, 255); position: fixed; top:0px; left:0px; width:100%; z-index: 100;">
<nav class="navbar navbar-expand-lg text-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color:white; font-weight: bold; font-size: 25px;">{{message}}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" id="nav1" aria-current="page" href="/" style="color:white; font-weight: bold;  font-size: 25px;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/setting" id="nav2" style="color:white; font-weight: bold;  font-size: 25px;">Setting</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white; font-weight: bold; font-size: 25px;">
              Class
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:rgb(111, 0, 255); width:max-content;">
                {% for item in msg4 %}
              <li><a class="dropdown-item" href={{item[4]}} style="color: white; font-weight:bold;">{{item[1]}}</a></li>
              {% endfor %}
              <li><hr class="dropdown-divider" style="background-color:white;"></li>
              <li><p style="color: white; font-weight:bold; margin: 10px;">{{msg2}}</p></li>
            </ul>
          </li>  
        </ul>
      </div>
    </div>
    
  </nav>
  <div style="position:absolute; top:13px; right:80px;">
        <a class="nav-link" href="/logout" style="color:rgb(255, 255, 255); font-weight: bold; font-size: 25px;">Logout</a>
    </div>
</div>
<div style="position: absolute; top:80px; left:20px; right:20px; z-index: -100;">

    <div>
      <div class="mt-3">
            {% if choice=='1' %}
            <button type="button" class="btn btn-lg btn-danger font-weight-bold mb-3 disabled"><h4 style='font-weight:bold; margin:2px; padding-right: 3px;'>授業を開始する(生徒全員のリアクションを「休み」に変更する)</h4></button>
            <a href="{{url1}}/finishclass"><button type="button" class="btn btn-lg btn-danger font-weight-bold mb-3"><h4 style='font-weight:bold; margin:2px;'>授業を終了する(リアクションの登録を不可にする)</h4></button></a>
            <a href="{{url1}}/startvote"><button type="button" class="btn btn-lg btn-success font-weight-bold mb-3"><h4 style='font-weight:bold; margin:2px;'>発言を募集する(出席者全員のリアクションを「未投票」にする)</h4></button></a>
            <button type="button" class="btn btn-lg btn-success font-weight-bold mb-3 disabled"><h4 style='font-weight:bold; margin:2px;'>発言の募集を終了する(ptの加算)</h4></button>
            <button type="button" class="btn btn-lg btn-warning font-weight-bold mb-4" id="custom"><h4 style="font-weight: bold; margin: 2px;">カスタムで質問を作成</h4></button>
              {% if form==True %}
              <button type="button" class="btn btn-lg btn-warning font-weight-bold mb-4" id="question"><h4 style="font-weight: bold; margin: 2px;">作った質問を表示</h4></button>
              {% else %}
              <button type="button" class="btn btn-lg btn-warning font-weight-bold mb-4 disabled" id="question"><h4 style="font-weight: bold; margin: 2px;">作った質問を表示</h4></button>
              {% endif %}
            {% elif choice=='2' %}
            <button type="button" class="btn btn-lg btn-danger font-weight-bold mb-3 disabled"><h4 style='font-weight:bold; margin:2px; padding-right: 3px;'>授業を開始する(生徒全員のリアクションを「休み」に変更する)</h4></button>
            <button type="button" class="btn btn-lg btn-danger font-weight-bold mb-3 disabled"><h4 style='font-weight:bold; margin:2px;'>授業を終了する(リアクションの登録を不可にする)</h4></button>
            <button type="button" class="btn btn-lg btn-success font-weight-bold mb-3 disabled"><h4 style='font-weight:bold; margin:2px;'>発言を募集する(出席者全員のリアクションを「未投票」にする)</h4></button>
            <a href="{{url1}}/finishvote"><button type="button" class="btn btn-lg btn-success font-weight-bold mb-3"><h4 style='font-weight:bold; margin:2px;'>発言の募集を終了する(ptの加算)</h4></button></a>
            <button type="button" class="btn btn-lg btn-warning font-weight-bold mb-4" id="custom"><h4 style="font-weight: bold; margin: 2px;">カスタムで質問を作成</h4></button>
              {% if form==True %}
              <button type="button" class="btn btn-lg btn-warning font-weight-bold mb-4" id="question"><h4 style="font-weight: bold; margin: 2px;">作った質問を表示</h4></button>
              {% else %}
              <button type="button" class="btn btn-lg btn-warning font-weight-bold mb-4 disabled" id="question"><h4 style="font-weight: bold; margin: 2px;">作った質問を表示</h4></button>
              {% endif %}
            {% else %}
            <a href="{{url1}}/startclass"><button type="button" class="btn btn-lg btn-danger mb-3"><h4 style='font-weight:bold; margin:2px; padding-right: 3px;'>授業を開始する(生徒全員のリアクションを「休み」に変更する)</h4></button></a>
            <button type="button" class="btn btn-lg btn-danger font-weight-bold mb-3 disabled"><h4 style='font-weight:bold; margin:2px;'>授業を終了する(リアクションの登録を不可にする)</h4></button>
            <button type="button" class="btn btn-lg btn-success font-weight-bold mb-3 disabled"><h4 style='font-weight:bold; margin:2px;'>発言を募集する(出席者全員のリアクションを「未投票」にする)</h4></button>
            <button type="button" class="btn btn-lg btn-success font-weight-bold mb-3 disabled"><h4 style='font-weight:bold; margin:2px;'>発言の募集を終了する(ptの加算)</h4></button>
            <button type="button" class="btn btn-lg btn-warning font-weight-bold mb-4 disabled" id="custom"><h4 style="font-weight: bold; margin: 2px;">カスタムで質問を作成</h4></button>
              {% if form==True %}
              <button type="button" class="btn btn-lg btn-warning font-weight-bold mb-4" id="question"><h4 style="font-weight: bold; margin: 2px;">作った質問を表示</h4></button>
              {% else %}
              <button type="button" class="btn btn-lg btn-warning font-weight-bold mb-4 disabled" id="question"><h4 style="font-weight: bold; margin: 2px;">作った質問を表示</h4></button>
              {% endif %}
            {% endif %}
          </div>
            <div id="output">
        <div class="card">
            <div class="card-header bg-primary text-white font-weight-bold h5" style='height:50px;'><h4 style='font-weight:bold; margin:2px;'>
              発言したい!!!<a href="{{url1}}/random1"><button type="button" class="btn btn-light font-weight-bold" style='position: absolute; top:5px; right:10px;'><h5 style='font-weight:bold; margin:0px;' id="daizu4">ランダムに並び替え</h5></button></a>
            </h4></div>
            <div class="card-body" style='background-color:#deedff;' id='status1'>
              {% for row1 in status1 %}
              <div class="row">
                {% for col1 in row1 %}
                <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
                  <button class="box" id="startmodal" data-bs-whatever={{col1[1]}} data-point={{col1[3]}} data-tell={{col1[4]}} style="width:fit-content; height:40px; background:#e2e2e2; border: 2px solid #000000; border-radius: 20px 20px 20px 20px;">
                    <p style="margin-top:5px; margin-left:10px; margin-right: 10px; font-weight: bold; color: #000000;">
                      {{col1[1]}}  <span class="badge bg-secondary text-light">{{col1[3]}}pt</span>  <span class="badge bg-secondary text-light">{{col1[4]}}回</span>
                    </p>
                  </button>
                </div>
                </button>
                {% endfor %}
              </div>
              {% endfor %}
            </div>
        </div>
        <div class="card">
          <div class="card-header bg-success text-white font-weight-bold h5" style='height:50px;'><h4 style='font-weight:bold; margin:2px;'>
            当てられてもOK<a href="{{url1}}/random2"><button type="button" class="btn btn-light font-weight-bold" style='position: absolute; top:5px; right:10px;'><h5 style='font-weight:bold; margin:0px;' id="daizu3">ランダムに並び替え</h5></button></a>
          </h4></div>
          <div class="card-body" style='background-color:#e7fde9;'>
            {% for row2 in status2 %}
            <div class="row">
              {% for col2 in row2 %}
              <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
                <button class="box" id="startmodal" data-bs-whatever={{col2[1]}} data-point={{col2[3]}} data-tell={{col2[4]}} style="width:fit-content; height:40px; background:#e2e2e2; border: 2px solid #000000; border-radius: 20px 20px 20px 20px;">
                  <p style="margin-top:5px; margin-left:10px; margin-right: 10px; font-weight: bold; color: #000000;">
                    {{col2[1]}}  <span class="badge bg-secondary text-light">{{col2[3]}}pt</span>  <span class="badge bg-secondary text-light">{{col2[4]}}回</span>
                  </p>
                </button>
              </div></button>
              {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="card">
            <div class="card-header bg-danger text-white font-weight-bold h5" style='height:fit-content;'><h4 style='font-weight:bold; margin:2px;'>
              分からない...
            </h4></div>
            <div class="card-body" style='background-color:#fde7e7;'>
              {% for row3 in status3 %}
              <div class="row">
                {% for col3 in row3 %}
                <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
                  <button class="box" id="startmodal" data-bs-whatever={{col3[1]}} data-point={{col3[3]}} data-tell={{col3[4]}} style="width:fit-content; height:40px; background:#e2e2e2; border: 2px solid #000000; border-radius: 20px 20px 20px 20px;">
                    <p style="margin-top:5px; margin-left:10px; margin-right: 10px; font-weight: bold; color: #000000;">
                      {{col3[1]}}  <span class="badge bg-secondary text-light">{{col3[3]}}pt</span>  <span class="badge bg-secondary text-light">{{col3[4]}}回</span>
                    </p>
                  </button>
                </div>
                {% endfor %}
              </div>
              {% endfor %}
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-warning text-black font-weight-bold h5" style='height:fit-content;'><h4 style='font-weight:bold; margin:2px;'>
              眠いzzz
            </h4></div>
            <div class="card-body" style='background-color:#fafde7;'>
              {% for row4 in status4 %}
              <div class="row">
                {% for col4 in row4 %}
                <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
                  <button class="box" id="startmodal" data-bs-whatever={{col4[1]}} data-point={{col4[3]}} data-tell={{col4[4]}} style="width:fit-content; height:40px; background:#e2e2e2; border: 2px solid #000000; border-radius: 20px 20px 20px 20px;">
                    <p style="margin-top:5px; margin-left:10px; margin-right: 10px; font-weight: bold; color: #000000;">
                      {{col4[1]}}  <span class="badge bg-secondary text-light">{{col4[3]}}pt</span>  <span class="badge bg-secondary text-light">{{col4[4]}}回</span>
                    </p>
                  </button>
                </div>
                {% endfor %}
              </div>
              {% endfor %}
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-secondary text-white font-weight-bold h5" style='height:fit-content;'><h4 style='font-weight:bold; margin:2px;'>
                未投票(授業を聞いていないかもしれない)
            </h4></div>
            <div class="card-body">
              {% for row5 in status5 %}
              <div class="row">
                {% for col5 in row5 %}
                <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
                  <button class="box" id="startmodal" data-bs-whatever={{col5[1]}} data-point={{col5[3]}} data-tell={{col5[4]}} style="width:fit-content; height:40px; background:#e2e2e2; border: 2px solid #000000; border-radius: 20px 20px 20px 20px;">
                    <p style="margin-top:5px; margin-left:10px; margin-right: 10px; font-weight: bold; color: #000000;">
                      {{col5[1]}}  <span class="badge bg-secondary text-light">{{col5[3]}}pt</span>  <span class="badge bg-secondary text-light">{{col5[4]}}回</span>
                    </p></button>
                </div>
                {% endfor %}
              </div>
              {% endfor %}
            </div>
        </div>
        <div class="card">
            <div class="card-header bg-dark text-white font-weight-bold h5" style='height:fit-content;'><h4 style='font-weight:bold; margin:2px;'>
                休み(このサイトにログインしていない)
            </h4></div>
            <div class="card-body">
              {% for row0 in status0 %}
              <div class="row">
                {% for col0 in row0 %}  
                <div class="col-lg-3 col-md-4 col-sm-6 mt-3">
                  <button class="box" id="startmodal" data-bs-whatever={{col0[1]}} data-point={{col0[3]}} data-tell={{col0[4]}} style="width:fit-content; height:40px; background:#e2e2e2; border: 2px solid #000000; border-radius: 20px 20px 20px 20px;" autofocus>
                    <p style="margin-top:5px; margin-left:10px; margin-right: 10px; font-weight: bold; color: #000000;">
                      {{col0[1]}}  <span class="badge bg-secondary text-light">{{col0[3]}}pt</span>  <span class="badge bg-secondary text-light">{{col0[4]}}回</span>
                    </p>
                  </button>
                </div>
                {% endfor %}
              </div>
              {% endfor %}
            </div>
        </div>
    </div>
    </div>
    <script>
      $('button.box').each(function(){
          $(this).mouseover(function(){
          $(this).attr('style',"width:fit-content; height:40px; background:rgb(101, 98, 106); border: 2px solid #000000; border-radius: 20px 20px 20px 20px;")
        })
          $(this).mouseout(function(){
          $(this).attr('style',"width:fit-content; height:40px; background:#e2e2e2; border: 2px solid #000000; border-radius: 20px 20px 20px 20px;")
        })
        
          $(this).click(function(){
            var id=$(this).attr('data-bs-whatever')
            var point=$(this).attr('data-point')
            var tell=$(this).attr('data-tell')
            $('#modalid').attr('value',id);
            $('#modalpoint').attr('value',point);
            $('#modaltell').attr('value',tell);
            $('#modaltitle').text(id+'さん');
            $('#newModal').modal('show');
            })});
  
            var windowSm=640;
            $(window).on('resize',function(){
                var windowWidth=$(window).width();
                if(windowWidth <= windowSm){
                    $('#daizu3').attr('style','font-weight:bold; font-size:16px; margin:0px;')
                    $('#daizu4').attr('style','font-weight:bold; font-size:16px; margin:0px;')}
                    else{$('#daizu3').attr('style','font-weight:bold; margin:0px;')
                    $('#daizu4').attr('style','font-weight:bold; margin:0px;')}
                    });
  
  </script>
    </div>

</div>
{% if warning %}
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" hidden=true>
  Launch demo modal
</button>
{% endif %}
</div>

{% if warning %}
<div class="modal fade" tabindex="-1" id="exampleModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-danger">
        <h5 class="modal-title" style="font-weight:bold; font-size: 25px; color: white;">Warning</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="font-weight:bold; font-size: 17px;">誰も授業の内容を理解できていません。もう一度説明してください。</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
<div class="modal fade" tabindex="-1" id="newModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-primary">
        <h5 class="modal-title" id="modaltitle" style="font-weight:bold; font-size: 25px; color:white;"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="font-weight:bold; font-size: 17px;">ポイントと発言回数を登録できます。</p>
        <label for="modalid" hidden>ID</label><input type="hidden" id="modalid" name="id">
        <div class="row g-3 align-items-center" style="margin-bottom:20px;">
        <div class="col-auto"><label for="modalpoint" class="col-form-text align-items-right" style="font-weight:bold;">point</label></div>
        <div class="col-auto input-group" style="position:absolute; right:10px; width: 160px;"><button type="button" class="btn btn-primary" id="modal1+" aria-describedby="passwordHelpInline">+</button><input type="number" name="modalpoint" id="modalpoint" class="form-control" aria-describedby="passwordHelpInline" required disabled><button type="button" class="btn btn-primary" id="modal1-" aria-describedby="passwordHelpInline">ー</button></div>
        </div>
        <div class="row g-3 align-items-center">
        <div class="col-auto"><label for="modaltell" class="col-form-text align-items-right" style="font-weight:bold;">発言回数</label></div>
        <div class="col-auto input-group" style="position:absolute; right:10px; width: 160px;"><button type="button" class="btn btn-primary" id="modal2+" aria-describedby="passwordHelpInline">+</button><input type="number" name="modaltell" id="modaltell" class="form-control" aria-describedby="passwordHelpInline" required disabled><button type="button" class="btn btn-primary" id="modal2-" aria-describedby="passwordHelpInline">ー</button></div>
        </div>  
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Send" id="send">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" id="oldModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title" id="modaltitle" style="font-weight:bold; font-size: 25px;">カスタム質問を作成できます。</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p style="font-weight:bold; font-size: 17px; margin-bottom: 15px;">質問文・質問形式をまず入力してください。</p>
        <label for="modalclass" hidden>class</label><input type="hidden" id="modalclass" name="class" value="{{url1}}">
        <div class="row g-3 align-items-center" style="margin-bottom:20px;">
          <p style="font-weight:bold;">質問文</p>
          <input type="text" name="modalsentence" id="modalsentence" class="form-control" style="margin-left: 5px; margin-top:0px; width:97%;" required>
          </div>
        <div class="row g-3 align-items-center" style="margin-bottom:20px;">
        <div class="col-auto"><label for="modalstyle" class="col-form-text align-items-right" style="font-weight:bold;">質問形式</label></div>
        <div class="col-auto input-group" style="position:absolute; right:10px; width: 160px;"><select class="form-select" aria-label="Default select example" id="modalstyle"><option selected value="0">選択</option><option value="1">ラジオボタン</option><option value="2">チェックボックス</option><option value="3">自由回答</option></select></div>
        </div>
        <div id="branch">
        <div class="row g-3 align-items-center">
          <p style="font-weight:bold; font-size: 17px; margin-bottom: 15px;">選択肢を作成</p>
          </div>  
        <div class="row g-3 align-items-center" style="margin-bottom:20px;">
        <div class="col-auto"><label for="modaltel" class="col-form-text align-items-right" style="font-weight:bold;">選択肢1</label></div>
        <div class="col-auto input-group" style="position:absolute; right:10px; width: 160px;"><input type="text" name="modalpoint" id="branch1" class="form-control" aria-describedby="passwordHelpInline" required></div>
        </div>
        <div class="row g-3 align-items-center" style="margin-bottom:20px;">
          <div class="col-auto"><label for="modaltel" class="col-form-text align-items-right" style="font-weight:bold;">選択肢2</label></div>
          <div class="col-auto input-group" style="position:absolute; right:10px; width: 160px;"><input type="text" name="modalpoint" id="branch2" class="form-control" aria-describedby="passwordHelpInline" required></div>
          </div>
          <div class="row g-3 align-items-center" id="newappend">
            <button class="btn btn-warning" style="font-weight: bold;" id="append">選択肢を追加</button>
            </div>
            </div>    
      </div>
      <div class="modal-footer" id="modalfooter">
        <input type="submit" class="btn btn-primary" value="作成" id="send2">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% if form %}
<div class="modal fade" tabindex="-1" id="formModal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-warning">
        <h5 class="modal-title" id="modaltitle" style="font-weight:bold; font-size: 25px;">作った質問を閲覧できます。</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% for item in newform_list %}
        <card type="button" onclick="location.href='{{url1}}/{{item[1]}}'" style="width:100%; border-left-width: 10px; border-left-color:{{item[4]}}" class="card bg-light mb-2" id="form{{item[0]}}">
          <div class="card-body">
              <h5 class="card-title" style="font-weight:bold;">form{{item[0]}}            <span style="font-size:13px; font-weight:normal;">回答方式:{{item[3]}}</span></h5>
              <p class="card-text">質問文:{{item[2]}}</p></div>
        </card>
        {% endfor %}
      </div>  
      <div class="modal-footer" id="modalfooter">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script>
  {% if warning %}
    $(window).on('load',function(){
      $('#exampleModal').modal('show');
  });
  {% endif %}
  {% if syncro %}
  setInterval(function(){
    $.ajax({
      type:'GET',
      url:'{{url1}}/correct',
      success:function(data){
        if(data=='True'){console.log(data)
        }else{
        $('#output').html(data);
        console.log('success')
      }},
      error:function(request,status,err){
        console.log('送信失敗');}
    })
  },1000);
  {% endif %}
  $('#nav1').mouseover(function(){
    $('#nav1').attr("style","color:rgb(101,98,106); font-weight: bold; font-size: 25px;")
  })
  $('#nav1').mouseout(function(){
    $('#nav1').attr("style","color:white; font-weight: bold; font-size: 25px;")
  });
  $('#nav2').mouseover(function(){
    $('#nav2').attr("style","color:rgb(101,98,106); font-weight: bold; font-size: 25px;")
  })
  $('#nav2').mouseout(function(){
    $('#nav2').attr("style","color:white; font-weight: bold; font-size: 25px;")
  });
  $('#navbarDropdown').mouseover(function(){
    $(this).attr("style","color:rgb(101,98,106); font-weight: bold; font-size: 25px;")
  })
  $('#navbarDropdown').mouseout(function(){
    $(this).attr("style","color:white; font-weight: bold; font-size: 25px;")
  });

  $('#newModal div button').on({'click':function(){
  var id=String($(this).attr('id'));
  var value=Number($(this).next().attr('value'))
  $(this).next().attr('value',value+1)
    }});

  $('#modal1-').on({'click':function(){
        var value=$('#modalpoint').attr('value')
        $('#modalpoint').attr('value',value-1)
    }});
  $('#modal2-').click(function(){
        var value=$('#modaltell').attr('value')
        $('#modaltell').attr('value',value-1)
    });
  $('#send').on({'click':function(){
    var id=$('#modalid').attr('value');
    var point=$('#modalpoint').attr('value');
    var tell=$('#modaltell').attr('value');
    var formData = new FormData();
    formData.append('id',id);
    formData.append('point',point);
    formData.append('tell',tell);
    $.ajax({
      type:'POST',
      url:'{{url1}}/register',
      data:formData,
      processData:false,
      contentType:false,
      success:function(data){
        location=data;},
      error:function(request,status,err){
        console.log('送信失敗');}});
  }})
  $('#custom').on({'click':function(){
    $('#oldModal').modal('show')
  }})
  $('#modalstyle').on({'change':function(){
    var style=$(this).val()
    if(style=='1' || style=='2'){$('#branch').show()}else{$('#branch').hide()}
  }})
  $('#append').on({'click':function(){
    var length=$('#branch').children().length
    var len=String(length-1)
    $('#newappend').before('<div class="row g-3 align-items-center" style="margin-bottom:20px;"><div class="col-auto"><button type="button" name="kin" class="btn btn-warning btn-sm" style="font-weight:bold;" id="delete'+len+'" onclick="delete_key(id);">削除</button>  <label for="modaltel" class="col-form-text align-items-right" style="font-weight:bold;">選択肢'+len+'</label></div><div class="col-auto input-group" style="position:absolute; right:10px; width: 160px;"><input type="text" name="modalpoint" id="branch'+len+'" class="form-control" aria-describedby="passwordHelpInline" required></div></div>')
  }})
  $('#send2').on({'click':function(){
    var blank1=$('#modalstyle').val()
    var blank2=$('#modalsentence').val()
    var formData = new FormData();
    console.log(blank1)
    if(blank1=='0'){if($('#modalfooter').children().length>=3){$('#errorcode').text('質問形式を選んで下さい。')}else{$('#modalfooter').append('<p class="text-danger" id="errorcode" style="font-weight: bold; position:absolute; left:20px;">質問形式を選んで下さい。</p>')}}else{
      if(blank2==false){if($('#modalfooter').children().length>=3){$('#errorcode').text('質問文を入力して下さい。')}else{$('#modalfooter').append('<p class="text-danger" id="errorcode" style="font-weight: bold; position:absolute; left:20px;">質問文を入力して下さい。</p>')}}else{
        if(blank1=='3'){
          error=false;
          formData.append('sentence',blank2);
          formData.append('style',blank1);
        }else{
          error=false;
          formData.append('sentence',blank2);
          formData.append('style',blank1);
          branch1=$('#branch1').val()
          branch2=$('#branch2').val()
          if(branch1==false){error=true;}
          if(branch2==false){error=true;}
          formData.append('branch1',branch1)
          formData.append('branch2',branch2)
          count=$('#branch').children().length;
          for(let i=3; i<(count-1); i++){
            var branchize=$('#branch'+i).val()
            console.log(branchize)
            if(branchize==false){
              error=true;}
            formData.append('branch'+i,branchize)
          }}
          if(error==true){
            if($('#modalfooter').children().length>=3){$('#errorcode').text('不要な選択肢を消すなり、埋めるなりして下さい。')}else{$('#modalfooter').append('<p class="text-danger" id="errorcode" style="font-weight: bold; position:absolute; left:20px;">不要な選択肢を消すなり、埋めるなりして下さい。</p>')}
          }else{
          $.ajax({
            type:'POST',
            url:'{{url1}}/formregister',
            data:formData,
            processData:false,
            contentType:false,
            success:function(data){
              if(data=='true'){
                location='';
              }else{
                if($('#modalfooter').children().length>=3){$('#errorcode').text('Errorが発生しました。')}else{$('#modalfooter').append('<p class="text-danger" id="errorcode" style="font-weight: bold; position:absolute; left:20px;">Errorが発生しました。</p>')}
              }},
            error:function(request,status,err){
              console.log('送信失敗');}});
              }}}}})
  $('#oldModal').on({'hidden.bs.modal':function(){
    if($('#modalfooter').children().length>=3){$('#errorcode').remove()}
  }})
  {% if form %}
  $('#question').on({'click':function(){
    $('#formModal').modal('show');
  }})
  $('card').each(function(){
    $(this).mouseover(function(){
    $(this).attr("class","card bg-secondary text-white mb-2")
})
$(this).mouseout(function(){
  $(this).attr("class","card bg-light mb-2")
})});
  {% endif %}
  var windowSm=640;
          $(window).on('load resize',function(){
              var windowWidth=$(window).width();
              $('#branch').hide()
              if(windowWidth <= windowSm){
                  $('#daizu3').attr('style','font-weight:bold; font-size:16px; margin:2px;')
                  $('#daizu4').attr('style','font-weight:bold; font-size:16px; margin:2px;')}
                  else{$('#daizu3').attr('style','font-weight:bold; margin:2px;')
                  $('#daizu4').attr('style','font-weight:bold; margin:2px;')}
                  });
  </script>
{% endblock %}
