{% extends 'layout.html' %}
{% block title %}
Index
{% endblock %}

{% block refresh %}
<meta http-equiv="refresh" content="600; URL=">
{% endblock %}

{% block content %}
<div style="background-color:rgb(111, 0, 255); position: fixed; top:0px; left:0px; width:100%; z-index: 100;">
    <nav class="navbar navbar-expand-lg text-white">
        <div class="container-fluid">
          <a class="navbar-brand" href="" style="color:white; font-weight: bold; font-size: 25px;">{{message}}</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/" style="color:white; font-weight: bold; font-size: 25px;" id="nav1">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/setting" style="color:white; font-weight: bold; font-size: 25px;" id="nav2">Setting</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white; font-weight: bold; font-size: 25px;">
                  Class
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:rgb(111, 0, 255); width:max-content;">
                    {% for item in msg4 %}
                  <li><a class="dropdown-item" href={{item[4]}} style="color: white; font-weight:bold;">{{item[1]}}</a></li>
                  {% endfor %}
                  <li><hr class="dropdown-divider" style="background-color:white;"></li>
                  <li><p style="color: white; font-weight:bold; margin: 10px;">{{msg2}}</p></li>
                </ul>
              </li>  
            </ul>
          </div>
        </div>
        
      </nav>
      <div style="position:absolute; top:13px; right:80px;">
            <a class="nav-link" href="/logout" style="color:white; font-weight: bold; font-size: 25px;">Logout</a>
        </div>
    </div>
<div style="position: absolute; top:80px; left:0px; z-index: -100; width: 100%;">

    <div class='row m-3'>
        <div class="col-lg-6 col-sm-12">
        {% if msg3=='1' %}
            <img src='/static/スライド1.jpg' style="width:100%; height:80vh; object-fit:cover;" id="daizu3">
        {% elif msg3=='2' %}
            <img src='/static/スライド2.jpg' style="width:100%; height:80vh; object-fit:cover;" id="daizu3">
        {% elif msg3=='3' %}
            <img src='/static/スライド3.jpg' style="width:100%; height:80vh; object-fit:cover;" id="daizu3">
        {% elif msg3=='4' %}
            <img src='/static/スライド4.jpg' style="width:100%; height:80vh; object-fit:cover;" id="daizu3">
            <script>
            window.setTimeout(dispMsg, 10000);
            function dispMsg(){
            location='';}
            </script>
        {% endif %}
        </div>
        <ul class="list-group col-lg-6 col-sm-12" style="height:80vh" id="daizu5">
            <a class="list-group-item list-group-item-action list-group-item-primary bg-primary" href="{{msg5}}/post1" style="font-weight:bold; margin:2px; color:white; height:25%; font-size:10vh; text-align:center;" id="daizu4">発言したいです。</a>
            <a class="list-group-item list-group-item-action list-group-item-info bg-success" href="{{msg5}}/post2" style="font-weight:bold; margin:2px; color:white; height:25%; font-size:10vh;text-align:center" id="daizu6">当てられてもOK</a>
            <a class="list-group-item list-group-item-action list-group-item-success bg-danger" href="{{msg5}}/post3" style="font-weight:bold; margin:2px; color:white; height:25%;font-size:10vh;text-align:center" id="daizu7">分からないなー</a>
            <a class="list-group-item list-group-item-action list-group-item-secondary bg-warning text-black" href="{{msg5}}/post4" style="font-weight:bold; margin:2px; color:white; height:25%;font-size:10vh;text-align:center" id="daizu8">眠い</a>
        </ul>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $('#nav1').mouseover(function(){
    $('#nav1').attr("style","color:rgb(101,98,106); font-weight: bold; font-size: 25px;")
  })
  $('#nav1').mouseout(function(){
    $('#nav1').attr("style","color:white; font-weight: bold; font-size: 25px;")
  });
  $('#nav2').mouseover(function(){
    $('#nav2').attr("style","color:rgb(101,98,106); font-weight: bold; font-size: 25px;")
  })
  $('#nav2').mouseout(function(){
    $('#nav2').attr("style","color:white; font-weight: bold; font-size: 25px;")
  });
  $('#navbarDropdown').mouseover(function(){
    $(this).attr("style","color:rgb(101,98,106); font-weight: bold; font-size: 25px;")
  })
  $('#navbarDropdown').mouseout(function(){
    $(this).attr("style","color:white; font-weight: bold; font-size: 25px;")
  });
  var windowSm=640;
          $(window).on('load resize',function(){
              var windowWidth=$(window).width();
              if(windowWidth <= windowSm){
                  $('#daizu3').attr('style','width:100%; margin-bottom:10px;'),
                $('#daizu4').attr('style',"font-weight:bold; margin:2px; color:white; font-size:5vh; text-align:center;"),
                $('#daizu6').attr('style',"font-weight:bold; margin:2px; color:white; font-size:5vh; text-align:center;"),
                $('#daizu7').attr('style',"font-weight:bold; margin:2px; color:white; font-size:5vh; text-align:center;"),
                $('#daizu8').attr('style',"font-weight:bold; margin:2px; font-size:5vh; text-align:center;"),
            $('#daizu5').removeAttr('style')}
                  else{$('#daizu3').attr('style',"width:100%; height:80vh; object-fit:cover;"),
                  $('#daizu4').attr('style',"font-weight:bold; margin:2px; color:white; height:25%; font-size:10vh; text-align:center;"),
                  $('#daizu6').attr('style',"font-weight:bold; margin:2px; color:white; height:25%; font-size:10vh; text-align:center;"),
                  $('#daizu7').attr('style',"font-weight:bold; margin:2px; color:white; height:25%; font-size:10vh; text-align:center;"),
                  $('#daizu8').attr('style',"font-weight:bold; margin:2px; height:25%; font-size:10vh; text-align:center;"),
                  $('#daizu5').attr('style',"height:80vh")}
                  });
</script>
{% endblock %}