{% extends 'layout.html' %}
{% block title %}
Index
{% endblock %}

{% block refresh %}
{% endblock %}

{% block content %}
<div style="background-color:rgb(111, 0, 255); position: fixed; top:0px; left:0px; width:100%; z-index: 100;">
    <nav class="navbar navbar-expand-lg text-white">
        <div class="container-fluid">
            <a class="navbar-brand" href="" style="color:white; font-weight: bold; font-size: 25px;">{{message}}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link disabled" aria-current="page" style="color:white; font-weight: bold; font-size: 25px; opacity: .5;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/setting" id="nav2" style="color:white; font-weight: bold; font-size: 25px;">Setting</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white; font-weight: bold; font-size: 25px;">
                            Class
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="background-color:rgb(111, 0, 255); width:max-content;">
                            {% for item in msg4 %}
                            <li><a class="dropdown-item" href={{item[4]}} style="color: white; font-weight:bold;">{{item[1]}}</a></li>
                            {% endfor %}
                        </ul>
                    </li>  
                </ul>
            </div>
        </div>
    </nav>
    <div style="position:absolute; top:13px; right:80px;">
        <a class="nav-link" href="/logout" style="color:white; font-weight: bold; font-size: 25px;">Logout</a>
    </div>
</div>
<div style="position: absolute; top:80px; left:20px; right:20px; z-index: -100;" id="card">
    <h2 class='h5 text-center' style="font-weight: bold; font-size: 25px; margin-top: 16px; margin-bottom:30px;" id="daizu">
        参加したい授業を選択してください!!!
    </h2>
    <h2 class='h5 text-center' style="font-weight: bold; margin-top:0px; margin-bottom:30px; font-size: 25px;" id="daizu2" hidden>
        選択してください!!!
    </h2>
    <div>
        {% for part in msg2 %}
        <card type="button" onclick="location.href='{{part[4]}}'" style="width:100%; border-left-width: 10px; border-left-color:{{part[8]}}" class="card bg-light mb-2">
                <div class="card-body">
                    <h5 class="card-title" style="font-weight:bold;">{{part[1]}}</h5>
                    <p class="card-text">担当教員:{{part[2]}}   教室:{{part[3]}}  {% if part[7]==None %}<a href={{part[4]}}><img src="/static/参加.png" alt="参加" style="position:absolute; right:10px; bottom:10px;" height="70px">{% else %}<a href={{part[4]}} class="join"><img src="/static/矢印.png" alt="参加" style="position:absolute; right:100px; bottom:10px;" height="70px" class="join"></a><a href={{part[4]}}><img src="/static/{{part[7]}}" alt="参加" style="position: absolute; right:10px; bottom:10px;" height="70px">{% endif %}</a></p>   
                </div>
            </card>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    var windowSm=640;
    $(window).on('load resize',function(){
        var windowWidth=$(window).width();
        if(windowWidth <= windowSm){
            $('h5.card-title').attr('style','font-weight:bold; font-size:16px;')
            $('img.join').hide();
            $('#daizu').attr('style',"font-weight: bold; font-size: 25px; margin-top: 16px; margin-bottom:0px;")
            $('#daizu').text('参加したい授業を')
            $('#daizu2').removeAttr('hidden');}else{
                $('h5.card-title').attr('style','font-weight:bold;')
                $('#daizu').attr('style',"font-weight: bold; font-size: 25px; margin-top: 16px; margin-bottom:30px;")
                $('#daizu').text('参加したい授業を選択してください!!!')
                $('#daizu2').attr('hidden','True');
                $('img.join').show()
            }});
$('#nav2').mouseover(function(){
  $('#nav2').attr("style","color:rgb(101,98,106); font-weight: bold; font-size: 25px;")
})
$('#nav2').mouseout(function(){
  $('#nav2').attr("style","color:white; font-weight: bold; font-size: 25px;")
});
$('#navbarDropdown').mouseover(function(){
  $(this).attr("style","color:rgb(101,98,106); font-weight: bold; font-size: 25px;")
})
$('#navbarDropdown').mouseout(function(){
  $(this).attr("style","color:white; font-weight: bold; font-size: 25px;")
});
$('card').each(function(){
    $(this).mouseover(function(){
    $(this).attr("class","card bg-secondary text-white mb-2")
})
$(this).mouseout(function(){
  $(this).attr("class","card bg-light mb-2")
})});
</script>
{% endblock %}